.card {
  margin: 0 auto;
}

.card.card-bar {
  max-width: initial;
}

.card-text {
  color: #aaaaaa;
  font-size: 80%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

header .navbar-light .navbar-nav .nav-link {
  color: #fefefe;
}

.navbar-light {
  color: #fefefe;
}
.navbar-light .navbar-toggler {
  color: #fefefe;
}
a {
  transition: .2s;
}
a:hover {
  color: inherit;
}

.bottom-50p {
  bottom: 50px;
}

.top-60p {
  top: 60px;
}
